<!DOCTYPE html>
<html>

<head>
    <script>document.write('<base href="' + document.location + '" />');</script>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>CosmicBills - Login</title>

<!-- Layout CSS -->

</head>

<!-- 3. Display the application -->
<ngx-spinner bdColor="rgba(87, 109, 142, 0.10)"
size="medium"
color="#0081c2"
type="ball-elastic-dots">
<p style="text-align: center; background-color:#0081c2; font-size: 20px; color: white; height: 30px; width:300px;">{{loadingMessage}}</p> </ngx-spinner>


<div class="overlay" *ngIf="show"
    style="display: flex;justify-content: center; align-items: center; width: 100%; height: 100%;position: absolute; margin-top: 20px;">
    <div class="content" 
        style="background-color: white; width: 25vw; height: 15vh;padding: 20px; display: flexbox; " >
        <div style="display: flexbox;position: relative; justify-content: center;align-items: center;">
            <div style="margin: 20px;">
                <label style="width: 80px; padding: 20px;"><b>Select Company :</b><span class="required-field"></span></label>
                <p-dropdown [filter]="true" [options]="xeroCompany" [(ngModel)]="documentCompany"
                    [style]="{'width':'200px', 'max-width':'19em','margin-top':'10px','margin-bottom':'0px'}"  (onChange)="onChangeCompany($event)">
                    <ng-template let-act pTemplate="item">
                        <div class="dropdwon">
                            <div >{{act.label}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div style="display: flex; justify-content: center;align-items: center;">
            <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: 0.25em ;margin-left: 10px; margin: 20px;" (click)="OnSaveClick()"></button>
            <button pButton type="button" label="Cancel" icon="pi pi-exclamation-triangle" style="margin-right: 0.25em; margin: 20px;" (click)="OnCancelClick()"></button>
        </div>
        
    </div> 
</div>

<body class="login-body">
       <div id="login-wrapper">
           <br><br><br><br><br><br><br><br><br><br>
            <img src="../../assets/images/cosmic bills_logo_white_smaller.gif">
            <br><br>
            <h1>Please wait while we get required data to proceed...</h1>
        </div>
</body>
</html>