<div class="wrapper" [ngClass]="{
        'sidebar-inactive-l': menuInactiveDesktop,
        'sidebar-active-m': menuActiveMobile
    }">
    <div *ngIf="subscribedPlan" id="topbar-icons" style="color: white; background-color: rgb(8, 58, 75); float: center"
        class="animated">
        <div *ngIf="!subscribedPlan.IsPaidPlan && XeroUser; else elseTemplate"> <!-- Free plan-->
            Your have left {{ totalTrialPdf }} trial pdf(s) to scan.
            <!-- <a style="color: rgb(236, 236, 215)" [routerLink]="" (click)="NavigateToPaymentApp($event)">
                <u> Please click here to subscribe</u></a> -->

                <ng-template #elseTemplate>
                    Your have left {{ totalPaidPdf }} pdf(s) to scan.
                    <a style="color: rgb(236, 236, 215)" [routerLink]="" (click)="NavigateToPaymentApp($event)">
                        <u> Please click here to upgrade plan</u></a>
                </ng-template>
        </div>
        <div *ngIf="subscribedPlan.IsPaidPlan && !showAutoRenewwalMessage"> <!-- Paid plan-->
            <div *ngIf="subscribedPlan.IsPaidPlan  && XeroUser && subscribedPlan.IsEligibleForXeroPlanOws ; else elseTemplate">
                Your Current Plan Is Expired . Your Owing Count is {{ totalPaidPdf * -1 }}.
                <!-- <a style="color: rgb(236, 236, 215)" [routerLink]="" >
                    <u> Please click here to upgrade plan</u></a> -->
            </div>
            <ng-template #elseTemplate>
                Your have left {{ totalPaidPdf }} pdf(s) to scan.
                <a style="color: rgb(236, 236, 215)" [routerLink]="" (click)="NavigateToPaymentApp($event)">
                    <u> Please click here to upgrade plan</u></a>
            </ng-template>

        </div>
        <div *ngIf="showAutoRenewwalMessage">
            Please keep on processing you are on Auto Renewal we will populate
            your subscribed Bills.
            <a style="color: rgb(236, 236, 215)" [routerLink]="" (click)="NavigateToPaymentApp($event)">
                <u> </u></a>
        </div>
    </div>

    <div class="topbar clearfix">
        <a id="omega-menu-button" href="#" (click)="toggleMenu($event)">
            <span class="fa fa-bars"></span>
        </a>
        <span class="topbar-title">Click here to expand/collapse </span>
        <a id="options-menu-button" href="#" (click)="toggleTopMenu($event)">
            <span class="fa fa-ellipsis-h"></span>
        </a>
        <div id="topbar-icons" class="animated" [ngClass]="{
                'topbar-icons-visible flipInX': topMenuActive, 
                flipOutX: topMenuLeaving
            }" style="display: flex; flex-direction: row; padding-right: 20px; ">
            <span class="topbar-item-text" style="margin-top: 10px;">{{ companyName }}</span>


            <div class="xero-btn" style="margin-bottom: 10px;" matRipple class="my-ripple-container">

                <img *ngIf="appComponent.isConnectedToXero" src="./assets/images/svgs/disconnect-white.svg" width="95%"
                    height="75%" (click)="disconnectFromXero()">
                <img *ngIf="!appComponent.isConnectedToXero" src="./assets/images/svgs/connect-white.svg" width="95%"
                    height="75%" (click)="connectToXero()">
            </div>

        </div>

    </div>
    <div class="sidebar" (click)="onMenuClick()">
        <p-scrollPanel #scroller [style]="{ height: '100%' }">
            <div class="sidebar-scroll-content">
                <div class="logo">
                    <!-- <img src="../../assets/images/cosmic bills_logo_white_smaller.gif" alt=""> -->
                    <h2 style="color: wheat">CosmicBills</h2>
                </div>

                <!--   <div class="profile">
                  <img src="assets/layout/images/profile.png" alt="" />
                  <a id="profile-button" href="#" (click)="toggleProfile($event)">
                      <span class="username">Peggy Olson</span>
                      <i class="fa fa-fw fa-cog"></i>
                  </a>
                  <ul [@submenu]="profileActive ? 'visible' : 'hidden'">
                      <li><a href="#"><i class="fa fa-fw fa-sliders"></i><span>Account</span></a></li>
                      <li><a href="#"><i class="fa fa-fw fa-bell"></i><span>Notifications</span><span class="menu-badge">2</span></a></li>
                      <li><a href="#"><i class="fa fa-fw fa-sign-out"></i><span>Logout</span></a></li>
                  </ul>
              </div> -->
                <app-menu></app-menu>
            </div>
        </p-scrollPanel>
    </div>
    <div class="main">
        <router-outlet></router-outlet>
    </div>

    <!-- <app-doc-review (childEvent)="test(message)"></app-doc-review> -->
</div>